@charset "utf-8";
/* base common style */
html,body{padding:0; margin:0;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0 }
body, button, input, select, textarea { font: 12px/1.5 "Microsoft YaHei", 微软雅黑,\9ed1\4f53,\5b8b\4f53, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu; color:#666 }
h1, h2, h3, h4, h5, h6 { font-size: 100% }
address, cite, dfn, em, var { font-style: normal }
ul, ol, dl { list-style: none }
a { text-decoration: none !important; outline: none ;font-family:"Microsoft YaHei", 微软雅黑,\9ed1\4f53,\5b8b\4f53, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;cursor: pointer;}
img { border: 0 }
button, input, select, textarea { font-size: 100% ;font-family:"Microsoft YaHei", 微软雅黑,\9ed1\4f53,\5b8b\4f53, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;outline: none;}
table { border-collapse: collapse; border-spacing: 0 }
.clearfix {*zoom:1;}
.clearfix:after{display:block;clear:both;content:"\0020";visibility:hidden;height:0;}
.global_wrap{position: relative;min-height:100%; clear: both; content: ""; }
.ielt7 .global_wrap{height:100%; }
#clsIframe,#LR_Flash{position: absolute;}
.col_l{float: left;*display: inline;}
.col_r{float: right;*display: inline;}
.ect{text-overflow:ellipsis; overflow: hidden; white-space: nowrap;}
.erro{
	position: absolute;
	top: 36px;
	left: 0;
	font-size:12px;
	color: #f00;
}
.zxbj-calc-wrap .erro em {
 	position: static;
 	background: url(../images/sjybj_global.png) no-repeat;
 	_background: url(../images/sjybj_global.gif) no-repeat;
    background-position: 0 -892px;
    width: 18px;
    height: 12px;
    display: inline-block;
    margin-right: 8px;
}

.zxbj-calc-wrap{
	width: 238px !important;
	height: 410px;
	border-radius: 4px;
	background-color: #f6f6f6;
	-webkit-box-shadow: 0px 4px 15px 0px rgba( 101, 101, 101,0.28);
	box-shadow: 0px 4px 15px 0px rgba( 101, 101, 101,0.28);
	border: 0;
	overflow: hidden;
}
.ie7 .zxbj-calc-wrap,.ie8 .zxbj-calc-wrap{
	width: 243px;
	border: 1px #dddddd solid;
	overflow: hidden;
}
.zxbj-calc-header {
	position: relative;
	height: 131px;
	width: 245px;
	background: url('../images/zxbj_calc_header_new.png') no-repeat;
}
.ie7 .zxbj-calc-header,.ie8 .zxbj-calc-header{
	width: 243px;
}
.zxbj-calc-budget{
	position: absolute;
	right: 41px;
	top: 78px;
	height: 39px;
	width: 185px;
}
.zxbj-calc-budget div{	
	float: right;
	display: none;
	margin-left: 3px;
	width: 22px;
	height: 39px;
	background:url(../images/zxbj_calc_num.png) no-repeat;
}
.zxbj-calc-budget .num0{
	display: block;
	background-position: 0 0;
}
.zxbj-calc-budget .num1{
	display: block;
	width: 8px;
	background-position: -35px 0;
}
.zxbj-calc-budget .num2{
	display: block;
	background-position: -54px 0;
}
.zxbj-calc-budget .num3{
	display: block;
	background-position: -89px 0;
}
.zxbj-calc-budget .num4{
	display: block;
	background-position: -127px -2px;
}
.zxbj-calc-budget .num5{
	display: block;
	background-position: -168px 0;
}
.zxbj-calc-budget .num6{
	display: block;
	background-position: -202px 0;
}
.zxbj-calc-budget .num7{
	display: block;
	background-position: -237px 0;
}
.zxbj-calc-budget .num8{
	display: block;
	background-position: -271px 0;
}
.zxbj-calc-budget .num9{
	display: block;
	background-position: -306px 0;
}
.zxbj-calc-header h3 {
	height: 38px;
	line-height: 38px;
	color: #f26f2f;
	font-size: 16px;
	text-align: center;
	font-weight: normal;
}
.calc-header-total {
	width: 210px;
	height: 42px;
	margin: 8px auto;
	_margin-left:15px;
}
.calc-header-total em {
	float: right;
	height: 58px;
	padding: 0 10px;
	line-height: 80px;
}
.calc-header-total span {
	float: right;
	padding-left: 12px;
	line-height: 70px;
	font-weight: bold;
	color: #f26f2f;
	font-size: 30px;
}
.zxbj-calc-con {
	width: 220px;
	margin: 0 11px 0 13px;
	padding-top: 10px;
	padding-bottom: 8px;
}
.zxbj-calc-con .element {
	position: relative;
	margin-bottom: 8px;
	width: 220px;
}
.zxbj-calc-con .submit-btn-box{
	width: 220px;
	padding-top:12px;
}
.zxbj-calc-con .element select {	
	width: 108px;
	height: 32px;
	line-height: 32px;
	padding-left: 6px;
	font-size: 12px;
	border-radius: 3px;
	border: 1px #dddddd solid;
	[height: 26px;line-height: 26px;];
}
.zxbj-calc-con .element select.province {
	float: left;
}
.zxbj-calc-con .element select.city {
	float: right;
}
.zxbj-calc-con .text {
    -webkit-box-sizing: inherit;
	width: 208px;
	height: 18px;
	padding: 6px 0 6px 10px;
	line-height: 18px;
	font-size: 12px;
	border: 1px #dddddd solid;
	border-radius: 3px;
	outline: none;
}
.zxbj-calc-con .element b {
	position: absolute;
	top: 1px;
	left: 1px;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	color: #999;
	font-weight: normal;
}
.zxbj-calc-con .element .unit {
	position: absolute;
	top: -1px;
	right: 8px;
	height: 32px;
	line-height: 32px;
	font-style: normal;
	font-weight: bold;
}
.zxbj-calc-con .submit-btn {
	display: block;
	width: 220px;
	height: 34px;
	background: #ff633c;
	line-height: 34px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	border-radius: 4px;
}
.calc-explain {
	line-height: 20px;
	color: #0eaf63;
	font-size: 12px;
}
.zxbj-calc-result {
	width: 218px;
	margin: 0 16px;
}
.calc-code {
	width: 100px;
	height: 100px;
	margin: 10px 54px 5px;
	padding: 5px;
	background: url("../images/calc_code.png") no-repeat;
}
.calc-code img {
	display: block;
	width: 100px;
	height: 100px;
	background: #fff;
}
.calc-code-tips p {
	height: 24px;
	line-height: 24px;
	color: #fff;
	text-align: center;
}
.calc-code-tips p a {
	color: #f26f2f;
}
/* 修改右侧发标文案 */
}
.new-calc-header-total .new-calc-header-home{
	float: left;
	padding-right: 0;
  	color: #999;
}
.new-calc-header-total .new-calc-header-money{
	padding-left: 0;
	color: #333;
}
.new-calc-header-total .new-calc-header-number{
	padding-left: 0;
}
.new-num-tab{
	overflow: hidden;
	position: relative;
	top:26px;
}
.new-num-tab .new-calc-header-money{
	font-size: 16px;
	line-height: 66px;
}
.new-calc-header-total .new-tab-num1{
	float: none;
	position: absolute;
	top: 0px;
	right: 45px;
	line-height: 58px;
}
.new-calc-header-total .new-tab-num2{
	float: none;
	position: absolute;
	top: 50px;
	right: 45px;
	line-height: 58px;
}
.stochastic-price-p1,.stochastic-price-p2{
	height: 58px;
}
.stochastic-price-p1 span{
	float: none;
	position: absolute;
	top: 0px;
	right: 45px;
	line-height: 58px;
}
.stochastic-price-p2 span{
	float: none;
	position: absolute;
	top: 50px;
	right: 45px;
	line-height: 58px;
}
.stochastic-price-p1 .new-tab-num11,.stochastic-price-p2 .new-tab-num21{
	right: 92px;
}
.stochastic-price-p1 .new-tab-num12,.stochastic-price-p2 .new-tab-num22{
	right: 73px;
}
.stochastic-price-p1 .new-tab-num13,.stochastic-price-p2 .new-tab-num23{
	right: 64px;
}
.stochastic-price-p1 .new-tab-num14,.stochastic-price-p2 .new-tab-num24{
	right: 45px;
}
.stochastic-price-p2 .new-tab-num25{
	display: none;
	right: 45px;
}
/*****************************************************************
 *modify by fidermo.hu 2016/10/13装修日记及装修论坛右侧添加计算器
 *by hank.lan  样式改版 2017-07-03
 *****************************************************************/
.new-container{
	border-radius:4px;
	-o-border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.zxbj-calc-con .element .line-chu,.zxbj-calc-con .element .line-shi,.zxbj-calc-con .element .line-ting{
	float: left;
	width: 70px;
	height: 32px;
}
.zxbj-calc-con .element .line-ting,.zxbj-calc-con .element .line-chu{
	margin-left: 5px;
}
.zxbj-calc-con .element .line-wei,.zxbj-calc-con .element .line-yangtai{
	width: 108px;
	height: 32px;
	margin-top:8px;
}
.zxbj-calc-con .element .line-yangtai{
	margin-left: 4px;
}
.zxbj-calc-con .szxbj-type{
	height:72px;
	_height:46px;
	font-size: 0;
	margin-bottom:8px;
}
.zxbj-calc-con .glideimg{
	text-align:center;
	height:11px;
}
.glideimg img{
	margin-top:-2px;
}
.glide-text{
	color:#333;
	font-size:22px;
	text-align: center;
	margin-bottom:1px;
	padding-top: 24px;
}
.glide-text-left{
	float:left;
}
.glide-text-right{
	float:right;
}
.glide-unit{
	text-align:center;
	color: #333;
	margin-bottom: 6px;
}
.glide-unit span{
	font-size: 30px;
	display:inline-block;
	color: #f25618;
}
.glide-yqbj{
	background-color: #fff;
  	
	height: 158px;
  	
	width: 183px;
	margin:0 15px;
  	
	padding-top: 30px;
  	font-size: 14px;
  	padding-left: 30px;
  	
	border: 1px #dddddd solid;
	border-radius: 4px;
}
.rt-czj-result{
	height: 147px;
	padding-top: 41px;
}
.glide-yqbj li{
	margin-bottom: 10px;
}
.glide-yqbj strong{
	font-size: 16px;
  	color: #333;
  	margin: 0 7px;
}
.glide-yqbj span{
	font-size:12px;
}
.zxbj-clac-yqbj{
	margin-bottom: 13px;
}
.zxbj-calc-wrap h4{
	color:#fff;
	font-weight:normal;
	text-align: center;
  	margin-top: 11px;
}
.zxbj-clac-new{
	padding-top:7px;
}
.calc-explain{	
	color:#999;
}
.calc-call{
	color:#ff5a00;
	line-height: 20px;
	font-size:12px;
}
.zxbj-calc-con .element .accept-price{
	width:220px;
}
.new-container .erro{
	position:relative;
	display: block;
	height:18px;
	top: 0px;
	line-height: 18px;
	margin-bottom:-10px;
	clear:both;
}
.new-container .counter-phone .erro{
	position: absolute;
	top: 33px;
	left: 0;
}
.glide-yqbj .old_fees{
	color:#bbb;
	font-size:12px;
	text-decoration:line-through;
}
.glide-yqbj .old_fees span{
	margin:0 5px;
}
.zxbj-clac-new .element .cx-loupan-box{
	color:#fff;
}
.text_lbl{
	cursor:text;
	position: absolute;
  	top: 1px;
  	color: #999;
  	font-weight: normal;
}
.notserver{
	text-align: center;
  	color: #000;
  	height: 38px;
  	background-color: #fff;
}
@-webkit-keyframes bounce-down{
	25%{
		-webkit-transform:translateY(-3px);
	}
	50%,100%{
		-webkit-transform:translateY(0);
	}
	75%{
		-webkit-transform:translateY(3px);
	}
}
@-ms-keyframes bounce-down{
	25%{
		-ms-transform:translateY(-3px);
	}
	50%,100%{
		-ms-transform:translateY(0);
	}
	75%{
		-ms-transform:translateY(3px);
	}
}
@-o-keyframes bounce-down{
	25%{
		-o-transform:translateY(-3px);
	}
	50%,100%{
		-o-transform:translateY(0);
	}
	75%{
		-o-transform:translateY(3px);
	}
}
@-moz-keyframes bounce-down{
	25%{
		-moz-transform:translateY(-3px);
	}
	50%,100%{
		-moz-transform:translateY(0);
	}
	75%{
		-moz-transform:translateY(3px);
	}
}
@keyframes bounce-down{
	25%{
		transform:translateY(-4px);
	}
	50%,100%{
		transform:translateY(0);
	}
	75%{
		transform:translateY(4px);
	}
}
.glideimg img{
	-webkit-animation:bounce-down 1s linear infinite;
	-o-animation:bounce-down 1s linear infinite;
	-moz-animation:bounce-down 1s linear infinite;
	-ms-animation:bounce-down 1s linear infinite;
	animation:bounce-down 1s linear infinite;
}
/* 报价计算器增加广告位 */
.ad-position .zxbj-clac-yqbj{
	margin:34px 0 0 0;
}
.ad-position .glide-yqbj{
	height:130px;
	padding-top:20px;
	margin-top:-4px;
}
.ad-position .rt-czj-result{
	height: 119px;
	padding-top: 31px;
}
.ad-position .glide-yqbj li{
	margin-bottom:4px;
}
.ad-position .zxbj-calc-result{
	margin:11px 16px;
}
.zxbj-calc-hotad{
	display:none;
	position:relative;
	width:220px;
	height:60px;
	overflow:hidden;
	margin:14px auto;
	margin-bottom:31px;
}
.zxbj-calc-hotad img{
	width:100%;
}
.zxbj-calc-hotad p{
	position:absolute;
	right:0;
	bottom:0;
	width:35px;
	height:16px;
	line-height:16px;
	color:#fff;
	font-size:12px;
	background: #000;
    filter:alpha(opacity=70);
    opacity: .7;
    text-align:center;
}
.ad-position .zxbj-calc-hotad{
	display: block;
}
/* 完全消失后的 右侧小工具定位 */
.widget-follow{
	position: relative;
}
.widget-follow .widget-frame{
	position: absolute;
	right: 0;
	z-index: 33;
}
.widget-follow .btn_diary_list{
	margin-bottom: 450px;
}
.zxbj-calc-con .szxbj-type select{
	float: left;	
}